node_modules
.next
.git
*.md
.env
.env.local
.env.production
.env.development
README.md
coverage
test-results
playwright-report
__tests__
.eas
.expo
android
ios
*.tsbuildinfo
dist
scripts
docs
.DS_Store
